{% extends "base.html" %}

{% block content %}
<h1>Categories</h1>
<a href="{% url 'category_create' %}" class="btn btn-success">Add New Category</a>
<table class="table mt-3">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Type</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for category in categories %}
        <tr>
            <td>{{ category.id }}</td>
            <td>{{ category.name }}</td>
            <td>{{ category.get_type_display.name }}</td>
            <td>
                <a href="{% url 'category_update' category.id %}" class="btn btn-primary btn-sm">Edit</a>
                <a href="{% url 'category_delete' category.id %}" class="btn btn-danger btn-sm">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
